.myCard {
    width: 65%;
    height: 500px;
    background: #E5E5E5;
    border: 1px solid black;
    margin: 30px auto;
    padding: 20px;
}

.cardBody h2 {
    margin: 30px 20px;
}

.cardBody h4 {
    margin: 30px 20px;
}

.cardBody p {
    margin: 30px 20px;
}

.status {
    text-decoration: none;
    width: 54px;
    height: 23px;
    background: salmon;
    border: 1px solid #ccc;
    padding: 15px 27px;
    color: red;
    margin: 50px;
}

.app {
    margin-top: 100px;
    margin-left: 50px;
}

.detail {
    text-decoration: none;
    width: 54px;
    height: 23px;
    background: salmon;
    border: 1px solid #E5E5E5;
    padding: 15px 27px;
    color: red;
    margin: 20px;
}

.cardBody a:hover {
    text-decoration: none;
    line-height: 23px;
    color: red;
}


/* .log {
    width: 40px;
    height: 23px;
    border: 1px solid #eee;
    padding: 10px 23px;
    background: cornflowerblue;
    text-decoration: none;
    cursor: pointer;
    color: brown;
    margin-left: 200px;
    margin-top: 30px;
    float: left;
    font-size: 17px;
}

.apply {
    width: 40px;
    height: 23px;
    border: 1px solid #eee;
    padding: 10px 23px;
    background: rgb(31, 32, 30);
    text-decoration: none;
    cursor: pointer;
    color: purple;
    margin-left: 700px;
    margin-top: 30px;
    float: left;
    font-size: 17px;
} */